<?xml version="1.0" encoding="utf-8"?>
<root>
  <item>
    <key>LastUpdateCheck</key>
    <value>20190905</value>
  </item>
  <item>
    <key>Last_Rom_Filename</key>
    <value>C:\Joe\fe hacking\buildfiles\The Nameless Heroes\TheNamelessHeroes_EngTrans.gba</value>
  </item>
  <item>
    <key>emulator</key>
    <value>C:\Joe\fe hacking\mGBA\mGBA.exe</value>
  </item>
  <item>
    <key>emulator2</key>
    <value>
    </value>
  </item>
  <item>
    <key>binary_editor</key>
    <value>
    </value>
  </item>
  <item>
    <key>sappy</key>
    <value>C:\Joe\fe hacking\builder\Sappy\sappy.exe</value>
  </item>
  <item>
    <key>program1</key>
    <value>
    </value>
  </item>
  <item>
    <key>program2</key>
    <value>
    </value>
  </item>
  <item>
    <key>program3</key>
    <value>
    </value>
  </item>
  <item>
    <key>devkitpro_eabi</key>
    <value>C:\Joe\fe hacking\buildfiles\Basefile\Tools\EFL Assemble Arm\devkitPro\devkitARM\bin\arm-none-eabi-as.exe</value>
  </item>
  <item>
    <key>goldroad_asm</key>
    <value>
    </value>
  </item>
  <item>
    <key>event_assembler</key>
    <value>C:\Joe\fe hacking\ea\Core.exe</value>
  </item>
  <item>
    <key>Color_Control_BackColor</key>
    <value>Black</value>
  </item>
  <item>
    <key>Color_Control_ForeColor</key>
    <value>White</value>
  </item>
  <item>
    <key>Color_Input_BackColor</key>
    <value>Black</value>
  </item>
  <item>
    <key>Color_Input_ForeColor</key>
    <value>White</value>
  </item>
  <item>
    <key>Color_InputDecimal_BackColor</key>
    <value>Black</value>
  </item>
  <item>
    <key>Color_InputDecimal_ForeColor</key>
    <value>Pink</value>
  </item>
  <item>
    <key>Color_NotifyWrite_BackColor</key>
    <value>Yellow</value>
  </item>
  <item>
    <key>Color_NotifyWrite_ForeColor</key>
    <value>Black</value>
  </item>
  <item>
    <key>Color_List_SelectedColor</key>
    <value>Highlight</value>
  </item>
  <item>
    <key>Color_List_HoverColor</key>
    <value>ff0080c0</value>
  </item>
  <item>
    <key>Color_Keyword_BackColor</key>
    <value>Black</value>
  </item>
  <item>
    <key>Color_Keyword_ForeColor</key>
    <value>LightBlue</value>
  </item>
  <item>
    <key>ShortCutKey1</key>
    <value>F5</value>
  </item>
  <item>
    <key>ShortCutValue1</key>
    <value>1</value>
  </item>
  <item>
    <key>ShortCutKey2</key>
    <value>Ctrl+F5</value>
  </item>
  <item>
    <key>ShortCutValue2</key>
    <value>2</value>
  </item>
  <item>
    <key>ShortCutKey3</key>
    <value>Ctrl+F1</value>
  </item>
  <item>
    <key>ShortCutValue3</key>
    <value>9</value>
  </item>
  <item>
    <key>ShortCutKey4</key>
    <value>Pause</value>
  </item>
  <item>
    <key>ShortCutValue4</key>
    <value>11</value>
  </item>
  <item>
    <key>ShortCutKey5</key>
    <value>
    </value>
  </item>
  <item>
    <key>ShortCutValue5</key>
    <value>12</value>
  </item>
  <item>
    <key>ShortCutKey6</key>
    <value>
    </value>
  </item>
  <item>
    <key>ShortCutValue6</key>
    <value>0</value>
  </item>
  <item>
    <key>ShortCutKey7</key>
    <value>
    </value>
  </item>
  <item>
    <key>ShortCutValue7</key>
    <value>0</value>
  </item>
  <item>
    <key>ShortCutKey8</key>
    <value>
    </value>
  </item>
  <item>
    <key>ShortCutValue8</key>
    <value>0</value>
  </item>
  <item>
    <key>ShortCutKey9</key>
    <value>
    </value>
  </item>
  <item>
    <key>ShortCutValue9</key>
    <value>0</value>
  </item>
  <item>
    <key>ShortCutKey10</key>
    <value>
    </value>
  </item>
  <item>
    <key>ShortCutValue10</key>
    <value>0</value>
  </item>
  <item>
    <key>func_rom_extends</key>
    <value>1</value>
  </item>
  <item>
    <key>func_auto_backup</key>
    <value>0</value>
  </item>
  <item>
    <key>func_first_form</key>
    <value>0</value>
  </item>
  <item>
    <key>func_lang</key>
    <value>en</value>
  </item>
  <item>
    <key>func_textencoding</key>
    <value>0</value>
  </item>
  <item>
    <key>func_auto_update</key>
    <value>1</value>
  </item>
  <item>
    <key>func_text_escape</key>
    <value>1</value>
  </item>
  <item>
    <key>mid2agb</key>
    <value>C:\Joe\fe hacking\builder\Sappy\mid2agb.exe</value>
  </item>
  <item>
    <key>Color_Comment_ForeColor</key>
    <value>DeepPink</value>
  </item>
  <item>
    <key>ShortCutKey11</key>
    <value>Ctrl+W</value>
  </item>
  <item>
    <key>ShortCutValue11</key>
    <value>13</value>
  </item>
  <item>
    <key>ShortCutKey12</key>
    <value>
    </value>
  </item>
  <item>
    <key>ShortCutValue12</key>
    <value>0</value>
  </item>
  <item>
    <key>ShortCutKey13</key>
    <value>
    </value>
  </item>
  <item>
    <key>ShortCutValue13</key>
    <value>0</value>
  </item>
  <item>
    <key>ShortCutKey14</key>
    <value>
    </value>
  </item>
  <item>
    <key>ShortCutValue14</key>
    <value>0</value>
  </item>
  <item>
    <key>ShortCutKey15</key>
    <value>
    </value>
  </item>
  <item>
    <key>ShortCutValue15</key>
    <value>0</value>
  </item>
  <item>
    <key>func_rom_extends_option</key>
    <value>1</value>
  </item>
  <item>
    <key>func_write_notify_time</key>
    <value>2</value>
  </item>
  <item>
    <key>func_write_out_of_range</key>
    <value>2</value>
  </item>
  <item>
    <key>func_select_in_explorer_when_export</key>
    <value>0</value>
  </item>
  <item>
    <key>func_sgm_jump</key>
    <value>1</value>
  </item>
  <item>
    <key>func_lookup_feditor</key>
    <value>0</value>
  </item>
  <item>
    <key>func_lint_text_skip_bug</key>
    <value>2</value>
  </item>
  <item>
    <key>func_midi_importer</key>
    <value>1</value>
  </item>
  <item>
    <key>func_show_class_extends</key>
    <value>1</value>
  </item>
  <item>
    <key>func_texteditor_auto_convert_space</key>
    <value>0</value>
  </item>
  <item>
    <key>func_auto_connect_emulator</key>
    <value>2</value>
  </item>
  <item>
    <key>func_auto_resize_by_pc_screen</key>
    <value>1</value>
  </item>
  <item>
    <key>func_proxy_server_when_connecting</key>
    <value>1</value>
  </item>
  <item>
    <key>func_notify_upper_time</key>
    <value>3</value>
  </item>
  <item>
    <key>func_create_nodoll_gba_sym</key>
    <value>1</value>
  </item>
  <item>
    <key>func_overraide_simple_error_check</key>
    <value>1</value>
  </item>
  <item>
    <key>Color_ControlComment_ForeColor</key>
    <value>Green</value>
  </item>
  <item>
    <key>func_alert_unk_event_code</key>
    <value>6</value>
  </item>
  <item>
    <key>CFLAGS</key>
    <value>-c -mthumb -O2</value>
  </item>
  <item>
    <key>retdec</key>
    <value>
    </value>
  </item>
  <item>
    <key>python3</key>
    <value>
    </value>
  </item>
</root>